@media screen and (min-width: 550px) {

    #header-left {
        min-width: 700px;
    }

}

/* For the hero images */
@media (max-width: 599px) {
    .hero-wide {
        display: none;
    }

    .join-button {
        font-size: 4vw;
    }
}

@media (min-width: 600px) {
    .hero-mobile {
        display: none;
    }

}


@media screen and (min-width: 740px) {

    #footer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 2rem;
        max-width: 1600px;
        width: 100%;
    }

    #footer-left,
    #footer-right {
        text-align: left;
    }


    .icon-menu {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* Add this to center the nav items */
        width: 100%;
    }

    .top_sections {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 1200px) {
    .forecast {
        grid-template-columns: 1fr 1fr 1fr;
    }

}